@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.navbar {

    position: absolute;
    font-family: 'Bree Serif', serif; 
    z-index: 2;

}

#navbarNavDropdown {

    background: rgba(0, 0, 0, 0);
    padding-left: 0%;

}

.background{
    width: 100%;
    height: 768px;
    object-fit: cover;
    filter: grayscale(100%);
    z-index: 0;
}

#logo {

    width: 100px;

}

#textobanner{

    position: absolute;
    z-index: 1;
    margin-top: 10%;
    text-align: center;
}


#textonosotros{
    margin-left: 10%;
    width: 80%;
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.7);
}

#nosotros p{

    color: white;
}

.carousel-item {

    z-index: 0;
}

.contactobtn {

    z-index: 1;
    margin-top: 60%;
    background-color: #dd6e42; 
    border-color: #dd6e42; 
    font-family: 'Bree Serif', serif;
}

.contactobtn:hover, .contactobtn:focus {

    background-color: grey;
    border-color: grey;
    box-shadow: rgba(221, 110, 66, 0.5);
}

footer {

    background: darkslategrey;
}

#footer {

    width: 100%;
    background: rgba(0, 0, 0, 0.7);

}

.footercontent{

    width: 80%;
    margin-left: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;   
}

.footercol{

    text-align: center;
    border-style: solid; 
    border-width: 0px; 
    border-right-width: thin; 
    color:wheat;
}

#footerlogo{
    width: 80%;
}


@media (max-width: 992px) {

    p {
        font-size: 0.9rem;
    }

    #titular {

        margin-top: 10%;

    }

    #navbarNavDropdown {

        background: rgba(0, 0, 0, 0.5);
        padding-left: 2.5%;
    
    }

    header .background {

        height: 500px;
    }
    
}

@media (max-width: 720px) {

    p {
        font-size: 0.8rem;
    }

    #titular {

        margin-top: 20%;

    }

    .contactobtn{

        margin-top: 50%;

    }

}

@media (max-width: 576px) {

    p {

        font-size: 0.65rem;

    }

}

@media (max-width: 1050px)
{

footer {
    font-size: 0.8rem;
}

}

@media (max-width: 860px)
{
    footer {
        font-size: 0.7rem;
    }

}

@media (max-width: 768px) {

    .footercol {
    text-align: left;
    border-style: solid; 
    border-width: 0px; 
    color:wheat;
    padding-bottom: 5%;
    }

    #footerlogo{
        width: 30%;
    }
}